<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key><string>LogViewer</string>
	<key>CFBundleExecutable</key><string>LogViewer</string>
	<key>CFBundlePackageType</key><string>BNDL</string>
	<key>CFBundleShortVersionString</key><string>1.0</string>
	<key>CFBundleVersion</key><string>1</string>
	<key>PCPluginType</key><string>ptx</string>
	<key>PCPluginAPIVersion</key><integer>1</integer>
	<key>PCPluginName</key><string>Log Viewer</string>
	<key>PCPluginMinHostVersion</key><integer>1</integer>
	<key>PCContributions</key>
	<dict>
		<key>commands</key>
		<array>
			<dict>
				<key>id</key><string>plugin.logviewer.view</string>
				<key>title</key><string>View as Log…</string>
				<key>category</key><string>View</string>
				<key>needsLocalPath</key><true/>
			</dict>
		</array>
		<key>menus</key>
		<array>
			<dict>
				<key>command</key><string>plugin.logviewer.view</string>
				<key>menu</key><string>File</string>
				<key>group</key><string>2_tools</string>
				<key>order</key><integer>90</integer>
				<key>when</key><string>cursorPath</string>
			</dict>
		</array>
		<key>views</key>
		<array>
			<dict>
				<key>id</key><string>plugin.logviewer.settings</string>
				<key>container</key><string>settings</string>
				<key>title</key><string>Log Viewer</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
