<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Terminal</string>
	<key>CFBundleExecutable</key>
	<string>Terminal</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>PCPluginType</key>
	<string>ptx</string>
	<key>PCPluginAPIVersion</key>
	<integer>1</integer>
	<key>PCPluginName</key>
	<string>Terminal</string>
	<key>PCPluginMinHostVersion</key>
	<integer>1</integer>
	<key>PCPluginIncomplete</key>
	<true/>
	<key>PCContributions</key>
	<dict>
		<key>views</key>
		<array>
			<dict>
				<key>id</key>
				<string>plugin.terminal.view</string>
				<key>container</key>
				<string>bottom</string>
				<key>title</key>
				<string>Terminal</string>
				<key>order</key>
				<integer>100</integer>
				<key>rawKeyboard</key>
				<true/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
