<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>SampleCSVLister</string>
	<key>CFBundleExecutable</key>
	<string>SampleCSVLister</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>PCPluginType</key>
	<string>plx</string>
	<key>PCPluginAPIVersion</key>
	<integer>1</integer>
	<key>PCPluginName</key>
	<string>SampleCSVLister</string>
	<key>PCPluginExtensions</key>
	<array>
		<string>csv</string>
		<string>tsv</string>
	</array>
	<key>PCPluginDetectString</key>
	<string>EXT="CSV" | EXT="TSV"</string>
	<key>PCPluginMinHostVersion</key>
	<integer>1</integer>
</dict>
</plist>
