<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>SampleLister</string>
	<key>CFBundleExecutable</key>
	<string>SampleLister</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>PCPluginType</key>
	<string>plx</string>
	<key>PCPluginAPIVersion</key>
	<integer>1</integer>
	<key>PCPluginName</key>
	<string>SampleLister</string>
	<key>PCPluginExtensions</key>
	<array>
		<string>txt</string>
		<string>log</string>
	</array>
	<key>PCPluginDetectString</key>
	<string>EXT="TXT" | EXT="LOG"</string>
	<key>PCPluginMinHostVersion</key>
	<integer>1</integer>
</dict>
</plist>
